
@{
    ViewData["Title"] = "DangBo";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section Css{ 
<link rel="stylesheet" type="text/css" href="~/css/admin/addangbo.css">
}
<div class="k main-form">
    <div class="k body-form">
        <span class="k t t-name-db">Thông tin Đảng Bộ</span>
        <div class="k f-inf">
            <table>
                <tr>
                    <th>Đảng bộ</th>
                    <th>Ngày thành lập</th>
                    <th>Trạng thái</th>
                    <th>Cập nhật</th>
                </tr>
                <tr>
                    <td>Trung tâm công nghệ thông tin</td>
                    <td>12/12/2012</td>
                    <td>Hoạnt động</td>
                    <td>
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Trung tâm công nghệ thông tin</td>
                    <td>12/12/2012</td>
                    <td>Hoạnt động</td>
                    <td>
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

@section Script{ 

}

