
@{
    ViewData["Title"] = "Finance";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/admin/adfinance.css">
}
    <div class=" k main-form">
        <div class="k body-form">
            <span class="k t title-finance">
                Quản lý ngân sách
                <span class="bnt-add-finance"data-toggle="modal" data-target="#modalinsertfinance">+Thêm mới</span>
            </span>
            <div class="k table-finance">
                <div class=" k item-table" id="tab-in">
                    <div class="main-row">
                        Thu
                    </div>
                    <div class="k title-item-row">
                        <span class=" k t detail-row">STT</span>
                        <span class=" k t detail-row ">Tên khoản</span>
                        <span class=" k t detail-row ">Số tiền</span>
                    </div>
                    @*<div class="k title-item-row">
                        <span class=" k t detail-row">1</span>
                        <span class=" k t detail-row ">Thu Công đoàn</span>
                        <span class=" k t detail-row ">
                            100,000 đ
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="k title-item-row">
                        <span class=" k t detail-row">2</span>
                        <span class=" k t detail-row ">THU HỊU</span>
                        <span class=" k t detail-row ">
                            100,000 đ
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                    </div>*@
                </div>
                <div class=" k item-table" id="tab-out">
                    <div class="main-row">
                        Chi
                    </div>
                    <div class="k title-item-row">
                        <span class=" k t detail-row">STT</span>
                        <span class=" k t detail-row ">Tên khoản</span>
                        <span class=" k t detail-row ">Số tiền</span>
                    </div>
                </div>
            </div>
        </div>

        @*insert finance*@
        <div class="modal fade" id="modalinsertfinance" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới tài chính</h4>
                    </div>
                    <div class="k modal-body">
                        <div class="k dl-sm-it">
                            <span class="k t dl-name-finance">Tên khoản: </span>
                            <input class="k dl-input-finance" id="ip-name-finance" type="text" />
                        </div>
                        <div class="k dl-sm-it">
                            <span class="k t dl-name-finance">Thuộc khoản: </span>
                            <select class="k dl-input-finance" id="sl-type-finance">
                                <option class="t" value="0">Thu</option>
                                <option class="t" value="1">Chi</option>
                            </select>
                        </div>
                        <div class="k dl-sm-it">
                            <span class="k t dl-name-finance" id="sl-db-active">Số tiền: </span>
                            <input class="k dl-input-finance" id="money" type="text" placeholder="0 vnđ" />
                        </div>
                        <span class="k t err-validate" id="err-insert-finance">**Vui lòng điền đầy đủ thông tin</span>
                        <span class="k dl-bnt-save" onclick="validateFinance()">Cập nhật</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

@section Script{
    <script src="~/js/admin/adfinance.js"></script>
}