
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/admin/adform.css">
}
<div class=" k body-form">
    <div class="k form-head">
        <span class="k t title">Quản lý biểu mẫu</span>
    </div>
    <div class="k form-add-new">
        <div class="k item-left-form">
            <span class="k left-text">Tên biểu mẫu:</span>
            <input class="k right-text" id="nameform" />
        </div>
        <div class="k item-left-form">
            <span class="k left-text">File:</span>
            <div class="k form-add-file">
                <div class=" k img-brower" onclick="getImage()"></div>
                <input id="multi-file" class="hidden" style="display:none" type="file" multiple="">
                <span class="k t name-file"id="name-file">Nothing</span>
            </div>
        </div>
        <div class="k item-left-form">
            <span class="k left-text">Ghi chú:</span>
            <textarea class="k right-text"id="noteform" ></textarea>
        </div>
        <span class="k t bnt-insert-form">Thêm biểu mẫu</span>
    </div>
    <div class=" k main-form-item">
        <div class="k row-table">
            <span class="k t tt-table">STT</span>
            <span class="k t tt-table">Tên biểu mẫu</span>
            <span class="k t tt-table">Link</span>
            <span class="k t tt-table">Cập nhật</span>
        </div>
        <div class="k row-table">
            <span class="k t tt-table-dt">1</span>
            <span class="k t tt-table-dt">Báo cáo kỉ luật</span>
            <span class="k t tt-table-dt">Hoạt động</span>
            <div class="k t tt-table-dt">
                <i class="fa fa-cogs" data-toggle="modal" data-target="#modalupdatechibo"></i>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="k row-table">
            <span class="k t tt-table-dt">2</span>
            <span class="k t tt-table-dt">Báo cáo 6 tháng đầu năm</span>
            <span class="k t tt-table-dt">Hoạt động</span>
            <div class="k t tt-table-dt">
                <i class="fa fa-cogs" data-toggle="modal" data-target="#modalupdatechibo"></i>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="~/js/admin/adform.js"></script>
}
