
@{
    ViewData["Title"] = "Quản lý Đảng viên";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/admin/admanageuser.css">
}
<div class="k main-form">
    <div class="k body-form">
        <div class=" k menu">
            <span class="k t item-menu" onclick="showTab('tab-sinhhoat')">Chuyển Đảng</span>
            <span class="k t item-menu" onclick="showTab('tab-huyhieu')">Xét tặng huy hiệu Đảng</span>
            <span class="k t item-menu" onclick="showTab('tab-user-dubi')">Quản lý Đảng viên dự bị</span>
        </div>

        <select class=" t sl-chibo" id="sl-chibo">
            @*<option>Chi bộ trung tâm CNTT</option>
            <option>Chi bộ trung tâm X</option>*@
        </select>
        

        <select class=" t sl-chibo" id="sl-dangbo"></select>

        @*Xet tang huy hieu Dang*@
        <div class="k body-item" style="display:block" id="tab-huyhieu">
            <div class="k form-user" id="form-armorial">
                <span class=" k t text-table">STT </span>
                <span class=" k t text-table-info">Thông tin </span>
                @*<span class=" k t text-sign">Huy hiệu đã có </span>*@
                @*<div class="k child-form-user">
                    <span class="k t stt">1</span>
                    <div class="k t body-user">
                        <span class="k t name-user">Nguyễn Văn Kha</span>
                        <span class="k t note-day">Ngày vào Đảng:</span>
                        <span class="k t note-day">12/12/2012</span>
                        <progress class="k t progress-bar" id="file" data-label="12 năm tuổi Đảng" max="100" value="70"> 70% </progress>
                    </div>
                </div>*@

            </div>
        </div>


        @*chuyển sinh hoạt đảng*@
        <div class="k body-item" style="display:none" id="tab-sinhhoat">
            <div class="k tab-head-adhe">
                <span class="t bnt-addnew" data-toggle="modal" data-target="#modalinsertdangvien" onclick="getTitle(bindingTitle)">+Chuyển đến</span>
                @*<div class="k f-search-ft">
                    <input class="k search-ft" id="search-box" onkeyup="" type="text">
                    <i class="fa fa-search bnt-search" aria-hidden="true"></i>
                </div>*@
            </div>
            <div class="k tab-head-adhe">
                <span class=" k t t-item-note">Chọn Đảng viên chuyển sinh hoạt</span>
                <input class="select-user" id="input-select" list="select-dangvien">
                <datalist  id="select-dangvien">
                    @*<option value="">fasfd</option>*@
                </datalist>
            </div>
            <div class="k form-user">
                <div class="k list-user-move">
                    <div class="k img-avt"></div>
                    <div class="k f-name">
                        <span class="k t t-if-dv">
                            <i class="fa fa-id-card-o font-ic" aria-hidden="true"></i>
                            <span id="madv"></span>
                        </span>
                        <span class="k t t-if-dv">
                            <i class="fa fa-user-circle-o font-ic" aria-hidden="true"></i>
                            <span id="nameuser"></span>
                        </span>
                    </div>
                    <div class="k f-name">
                        <div class="k row-input">
                            <input class="k t checkbox" id="check-form-move" type="checkbox" name="giaygioithieu" value="0" />
                            <span class="k t text-note-checkbox">Đơn xin chuyển Đảng</span>
                        </div>
                        <div class="k row-input">
                            <input class="k t checkbox" id="check-form-review" type="checkbox" name="hopdanhgia" value="1" />
                            <span class="k t text-note-checkbox">Bản tự kiểm điểm</span>
                        </div>
                        <div class="k row-input">
                            <input class="k t checkbox" type="checkbox" name="danhan" value="2" checked />
                            <span class="k t text-note-checkbox">Xác nhận của Chi bộ</span>
                        </div>
                        <div class="k row-input">
                            <input class="k t input-from-to" id="address-togo" placeholder="Nơi chuyển đi" type ="text"/>
                        </div>
                    </div>
                    <div class="k f-name">
                        <div class="k row-input">
                            <span class=" k t ">
                                <span class="k t bnt-brower-file" onclick="getFileMove()">Tải lên</span>
                                <span class="k t name-file-move"></span>
                                <input id="upload-file-move" class="hidden" style="display:none" type="file" accept="image/*" multiple="">
                            </span>
                        </div>
                        <div class="k row-input">
                            <span class=" k t ">
                                <span class="k t bnt-brower-file" onclick="getFileReview()">Tải lên</span>
                                <span class="k t file-review"></span>
                                <input id="upload-file-review" class="hidden" style="display:none" type="file" accept="image/*" multiple="">
                            </span>
                        </div>
                        <div class="k row-input">
                            <span class="k t bnt-move-user"onclick="moveDangVien()">Chuyển đi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*quan ly dang vien du bi*@
        <div class="k body-item" style="display:none" id="tab-user-dubi">
            <span class=" k t t-item-note">Danh sách Đảng viên dự bị</span>
            <div class="k form-user">

            </div>
        </div>
    </div>

    @*add new dang vien*@
    <div class="modal fade" id="modalinsertdangvien" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Đảng viên chuyến đến</h4>
                </div>
                <div class="k modal-body">
                    <div class="k dl-sm-it">
                        <span class="k t dl-name-dv">Mã Đảng viên: </span>
                        <input class="k dl-input-dv" id="ip-madv" type="text" maxlength="8" />
                    </div>
                    <div class="k dl-sm-it">
                        <span class="k t dl-name-dv">Chức vụ Đảng: </span>
                        <select class="k dl-sl-dv" id="sl-title">
                            @*<option value="0">Ủy viên</option>
                                <option value="0">Bí thư chi bộ</option>*@
                        </select>
                    </div>
                    <div class="k dl-sm-it" id="go-on-business-old">
                        <span class="k t dl-name-dv">Nơi sinh hoạt cũ: </span>
                        <input class="k dl-input-dv" id="adress-on-bussiness" type="text" />
                    </div>
                    <div class="k dl-sm-it">
                        <span class="k t dl-name-dv" id="sl-db-active">Ngày đến Chi bộ: </span>
                        <div class="form-group">
                            <div class='input-group date' id='datepicker-daytochibo'>
                                <input type='text' class="form-control" id="day-to-go" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="k dl-sm-it" id="go-on-business-old">
                        <span class="k t dl-name-dv">Giấy giới thiệu: </span>
                        <span class="k document-togo" type="text">
                            <span class="t name-referral">nothing</span>
                            <span class="t brower-doc" onclick="getImage()">Brower</span>
                            <input id="upload-referral" class="hidden" style="display:none" type="file" accept="image/*" multiple="">
                        </span>
                    </div>

                    <div class="k dl-sm-it">
                        <span class="k t dl-name-dv">Mật khẩu: </span>
                        <input class="k dl-input-dv" id="ip-pass" type="password" />
                    </div>
                    <div class="k dl-sm-it">
                        <span class="k t dl-name-dv">Nhập lại mật khẩu: </span>
                        <input class="k dl-input-dv" id="ip-cf-pass" type="password" />
                        <span class="k t err-validate" id="err-validate">**Vui lòng kiểm tra lại thông tin</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="k btn btn-default" data-dismiss="modal">
                        Đóng
                    </button>
                    <span class="k dl-bnt-save" onclick="validateForm()">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        Chuyển tới Chi bộ
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

@section Script{
    <script src="~/js/admin/admanageruser.js"></script>
}