
@{
    ViewData["Title"] = "Family";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h1>Quan hệ gia đình</h1>
                                    <form class="needs-validation" novalidate>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Họ tên</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" required>
                                            </div>
                                            <label class="col-sm-2 col-form-label">
                                                Quan hệ
                                            </label>
                                            <div class="col-sm-2">
                                                <select name="select" class="form-control">
                                                    <option value="opt1" selected="selected">
                                                        Cha
                                                    </option>
                                                    <option>Mẹ</option>
                                                    <option>Ông</option>
                                                    <option>Bà</option>
                                                    <option>Anh</option>
                                                    <option>Chị</option>
                                                    <option>Em</option>
                                                    <option>Vợ</option>
                                                    <option>Con</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">
                                                Nghề
                                                nghiệp
                                            </label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">
                                                Nghề
                                                nghiệp
                                            </label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" required>
                                            </div>
                                            <label class="col-sm-2 col-form-label">Nơi sinh</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Quê quán</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Tỉnh/Thành phố</label>
                                            <div class="col-sm-2">
                                                <select name="select" class="form-control">
                                                    <option value="opt1" selected="selected">
                                                        Biên
                                                        Hòa
                                                    </option>
                                                    <option>Chăm</option>
                                                    <option>Mông</option>
                                                </select>
                                            </div>
                                            <label class="col-sm-2 col-form-label">Quận/Huyện</label>
                                            <div class="col-sm-2">
                                                <select name="select" class="form-control">
                                                    <option value="opt1" selected="selected">
                                                        Biên
                                                        Hòa
                                                    </option>
                                                    <option>Chăm</option>
                                                    <option>Mông</option>
                                                </select>
                                            </div>
                                            <label class="col-sm-2 col-form-label">Phường</label>
                                            <div class="col-sm-2">
                                                <select name="select" class="form-control">
                                                    <option value="opt1" selected="selected">
                                                        Biên
                                                        Hòa
                                                    </option>
                                                    <option>Chăm</option>
                                                    <option>Mông</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">
                                                Hoàn cảnh gia
                                                đình
                                            </label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">
                                                Lý lịch chính
                                                trị
                                            </label>
                                            <div class="col-sm-9">
                                                <textarea type="text" row="5"
                                                          class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Đính kèm</label>
                                            <div class="custom-file col-sm-6">
                                                <input type="file" id="customFile">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <button class="col-sm-2 col-form-label btn btn-primary">
                                                Lưu
                                            </button>
                                        </div>

                                    </form>
                                    <!-- Basic Form Inputs card end -->
                                    <!-- Input Grid card start -->
                                    <!-- Page body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>

