@import url("adconfig.css");

:root {
    --bg-item: white;
    --background-home: #ff6a00;
}

@media only screen and (min-width:0) {
    .body-form {
        width: 100%;
        background-color: var(--bg-main);
    }

    .menu {
        width: 20%;
        background-color: var(--bg-item);
        margin-top: 5px;
    }

    .body-item {
        width: 80%;
        background-color: var(--bg-item);
        min-height: 100vh;
        margin-top: 5px;
    }

    .item-menu-main {
        background-color: var(--background-home);
    }

    .item-menu {
        color: var(--cl-text-bl);
        font-weight: 300;
        text-align: left;
        border: 1px solid rgba(51,51,51, 0.1);
        width: 100%;
        cursor: pointer;
    }

        .item-menu:hover {
            background-color: #ccc;
        }

    .t-item-note {
        color: var(--cl-text-bl);
        font-weight: 300;
    }
    .sl-chibo {
        position: relative;
        float: right;
        color: var(--cl-text-bl);
        border: 1px solid rgba(51,51,51,0.1);
        border-radius: 4px;
        padding: 4px;
        margin-top: 5px;
        margin-right: 5px;
        cursor: pointer;
        min-width: 200px;
    }
    .form-user {
        width: 100%;
        border: 1px solid rgba(51,51,51,0.1);
    }

    .child-form-user {
        width: 100%;
        border: 1px solid rgba(51,51,51,0.1);
    }

    .text-table {
        text-align: center;
        font-weight: 600;
    }

    .text-table-info {
        text-align: center;
        font-weight: 600;
    }

    .text-sign {
        border-left: 1px solid rgba(51,51,51,0.1);
        text-align: center;
        font-weight: 600;
    }

    .stt {
        border-right: 1px solid rgba(51,51,51,0.1);
        text-align: center;
    }

    .name-user {
        color: var(--cl-text-bl);
        font-weight: 300;
        padding: 0 10px;
    }

    .note-day {
        color: var(--cl-text-bl);
        font-weight: 300;
        padding: 0 10px;
    }
    /*progress bar*/
    progress {
        text-align: center;
        height: 1.5em;
        width: 100%;
        -webkit-appearance: none;
        border: none;
        position: relative;
    }

        progress:before {
            content: attr(data-label);
            font-size: 0.8em;
            vertical-align: 0;
            /*Position text over the progress bar */
            position: absolute;
            left: 0;
            right: 0;
        }

        progress::-webkit-progress-bar {
            background-color: #c9c9c9;
        }

        progress::-webkit-progress-value {
            background-color: #7cc4ff;
        }

        progress::-moz-progress-bar {
            background-color: #7cc4ff;
        }

    .progress-bar {
        width: 100%;
        height: 20px;
    }

    .bnt-addnew{
        position:relative;
        float:right;
        border:1px solid rgba(51,51,51,0.1);
        background-color:var(--bg-button);
        padding:3px 5px;
        color:var(--cl-text-wt);
        border-radius:4px;
        cursor:pointer;
    }
    
    /*dialog move dangvien*/
    .modal-body {
        width: 100%;
    }
    .dl-sm-it {
        width: 100%;
    }
    .dl-name-dv {
        color: var(--cl-text-bl);
        font-weight: 300;
        text-align: left;
    }
    .dl-input-dv {
        color: var(--cl-text-bl);
        border-radius: 4px;
        border: 1px solid rgba(51,51,51,0.1);
    }
    .dl-sl-dv {
        border-radius: 4px;
        border: 1px solid rgba(51,51,51,0.1);
        cursor: pointer;
    }
    .input-group {
        cursor: pointer;
    }
    .dl-bnt-save {
        color: var(--cl-text-bl);
        border: 1px solid rgba(51,51,51,0.1);
        float: right;
        padding: 3px 5px;
        border-radius: 4px;
        background-color: var(--bg-button);
        cursor: pointer;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        width: auto;
        padding:6px 12px;
        text-align: center;
        font-weight: 600;
        margin-right:5px;
        margin-top:5px;
    }
    .btn-default{
        float:right;
        margin-top:5px;
    }
    .err-ip {
        border: 1px solid rgba(255, 0, 0,0.4);
    }
    .err-validate {
        color: red;
        text-align: center;
        width: 100%;
        font-size: 12px;
        display: none;
    }



    .f-search-ft {
        border-radius: 4px;
        border: 1px solid rgba(51,51,51,0.1);
        float:right;
        margin-right:20px;
    }
    .bnt-search {
        position: relative;
        float: right;
        color: var(--cl-text-bl);
    }
    .search-ft {
        width: auto;
        border: none;
    }
    .list-user-move {
        width: 100%;
        padding:5px;
    }
    .text-note-user{
        color:var(--cl-text-bl);
        font-weight:300;
    }
    .img-avt{
        background-position:center;
        background-size:contain;
        background-image:url(/images/admin/avt-us-defaul.png);
        width:10%;
        height:85px;
    }
    .t-if-dv {
        color: var(--cl-text-bl);
        text-align: left;
        width: 100%;
        font-weight: 300;
    }

    .err-validate {
        color: red;
        text-align: center;
        width: 100%;
        font-size: 12px;
        display: none;
    }
    .err-ip {
        border: 1px solid rgba(255, 0, 0,0.4);
    }
    
    /*chuyen sinh hoat dang*/
    .row-input{
        width:100%;
        margin-bottom:10px;
    }
    .checkbox {
        cursor: pointer;
        pointer-events: none;
    }
    .text-note-checkbox{
        font-weight:300;
        font-size:var(--fs-dt);
        color:var(--cl-text-bl);
    }
    .document-togo{
        border:1px dashed rgba(51,51,51,0.1);
        border-radius:4px;
    }
    .brower-doc, .bnt-brower-file {
        position: relative;
        float: right;
        border: 1px dashed rgba(77, 185, 14, 0.56);
        color: forestgreen;
        padding: 0px 5px;
        border-radius: 4px;
        cursor: pointer;
    }
    .bnt-move-user {
        position: relative;
        float: right;
        border: 1px solid rgba(51,51,51,0.1);
        background-color: var(--bg-button);
        padding: 3px 5px;
        color: var(--cl-text-wt);
        border-radius: 4px;
        cursor: pointer;
    }
    .name-file-move, .file-review {
        text-overflow: ellipsis;
        max-width: 190px;
        white-space: nowrap;
        overflow: hidden;
    }
    .tab-head-adhe{
        width:100%;
    }
    .select-user{
        color:var(--cl-text-bl);
        font-weight:300;
        text-align:left;
    }
    .input-from-to{
        width:100%;
        padding:3px;
        border-radius:4px;
        border:1px solid rgba(51,51,51,0.1);
    }
}

@media only screen and (min-width:1200px) {
    .body-form {
        padding-left: 5%;
        padding-right: 5%;
    }

    .item-menu {
        padding: 5px;
        font-size: var(--fs-dt);
    }
    .form-user {
        margin-top:20px;
    }
    .t-item-note {
        font-size: var(--fs-dt);
        margin-top: 10px;
    }
    .text-table {
        width: 10%;
        border-right: 1px solid rgba(51,51,51,0.1);
        padding: 5px 0;
    }
    .text-table-info {
        width: 90%;
        padding: 5px 0;
    }
    .stt {
        width: 10%;
        padding: 5px 0;
        min-height: 80px;
    }
    .body-user {
        width: 80%;
    }
    progress {
        font-size: var(--fs-dt);
    }
    .progress-bar {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size:var(--fs-dt);
        margin-left:5px;
    }
    .t-day-togo{
        margin-left:20px;
    }
    .bnt-addnew {
        margin-right:5px;
        margin-top:3px;
    }
    .dl-sm-it {
        width: 100%;
        margin-bottom: 10px;
    }
    .dl-name-dv {
        width: 30%;
        font-size: var(--fs-dt);
    }
    .dl-input-dv {
        width: 70%;
        padding: 5px;
    }
    .dl-sl-dv {
        width: 70%;
        padding: 5px;
    }
    .f-search-ft {
        padding: 3px;
        margin-left: 10px;
        margin-top:5px;
    }
    .bnt-search {
        margin-top: 3px;
        margin-right: 3px;
        font-size: var(--fs-dt);
    }
    .search-ft {
        min-width: 20%;
    }

    .text-note-user {
        width:40%;
        font-size:var(--fs-dt);
    }
    .f-name {
        width: 30%;
        padding: 5px 10px;
    }

    /*chuyen dang*/
    .document-togo {
        width:70%;
        padding:5px;
    }
    .brower-doc, .bnt-brower-file {
        font-size: 12px;
    }
    .bnt-move-user {
        margin-right: 5px;
        margin-top: 3px;
    }
    .select-user {
       font-size:var(--fs-dt);
       margin-top:5px;
       border:1px solid rgba(51,51,51,0.1);
       border-radius:4px;
       padding:2px 5px;
       margin-left:5px;
       cursor:pointer;
    }
}
