
@{
    ViewData["Title"] = "Test";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/test.css" />
</head>
<body>

    <script src="~/js/test.js" asp-append-version="true"></script>
</body>
</html>

