*  fdsfdsf{
	margin: 0px; 
	padding: 0px; 
    text-decoration: none;
    box-sizing: border-box;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}
.html{
    min-height: 100vh;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}
.login-form{
    width: 360px;
    background-color: #ecf0f1;
    height: 560px;
    padding: 80px 40px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-form h1{
    text-align: center;
    margin-bottom: 50px;
}
.input-txt {
    border-bottom: 2px solid #2f3542;
    position: relative;
    margin: 30px 0;
}
.input-txt input{
    border: none;
    color: black;
    width: 100%;
    font-size: 20px;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}
.input-txt span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    color: #999999;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.input-txt span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition: .5s;
}

.focus + span::before{
    top: -5px;
  }
  .focus + span::after{
    width: 100%;
  }


.btn-show-pass {
    font-size: 15px;
    color: #999999;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
.btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
  }
  
.btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
  }
  .logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
  }
  
  .logbtn:hover{
    background-position: right;
  }
  
  .bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 17px;
  }
  .check-box {
      padding-bottom: 10px;
  }

p.copyright {
  bottom: 50px;
  position: absolute;
	  width: 100%;
    color:black;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    padding-top: 30px;
}
.input-checkbox {
    display: none;
}  
.label-checkbox {
font-family: 'Times New Roman', Times, serif;
color: #999999;
line-height: 1.2;
display: block;
position: relative;
padding-left: 26px;
cursor: pointer;
}  
.label-checkbox::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #827ffe;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .input-checkbox:checked + .label-checkbox::before {
    color: #827ffe;
  }
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 5px 10px;
    top: 30%;
    left: 150px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
  
    font-family: Ubuntu-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 22px;
    top: 38%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  .btn-show-pass {
    font-size: 15px;
    color: #999999;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: -10px;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
  }
  
  .btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
  }
.helpbtn{
  cursor: pointer;
}

.btn .btn-primary {
  background-color: #c80000 !important;
}

.confirmbtn {
    width: 49%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
}
.Exitbtn {
  width: 49%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  font-size: 15px;
}
.Exitbtn:hover{
  background-position: right;
}
.confirmbtn:hover{
  background-position: right;
}


.index {
	width: 100%;
	height: 100%;
	font-family: 'Gamja Flower';
	font-size: 28px;
	color: #222;
}

.navbar {
	background-color: rgba(82,64,120,0.9) !important;
}
.navbar li a {
    color: white !important;
}
.navbar li a:hover {
    color: black !important;
}